
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Mission School is ready to fill your Mission by providing you support">
    <meta property="og:title" content="<%= examDetails.exam_name %>">
    <meta property="og:description" content="Mission School is ready to fill your Mission by providing you support">
    <meta property="og:image" content="/img/preview-website.png"> <!-- URL to your specific preview image -->
    <meta property="og:url" content="https://www.missionschool.com.bd"> <!-- URL of your website -->
    <meta property="og:type" content="website">
    <title>Mission School</title>
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Compiled and minified JavaScript -->

    <link
      href="https://fonts.maateen.me/solaiman-lipi/font.css"
      rel="stylesheet"
    />

    <link rel="icon" type="image/png" href="/img/favicon_favicon.png">

    


  </head>

  <style>
    body {
      font-family: "SolaimanLipi", Arial, sans-serif!important;
      margin: 0 auto;
      padding: 0;
      background-color: black;
    }
    p[data-f-id="pbf"] {
    display: none;
}
    .container {
      max-width: 600px;
      margin: 50px auto;
      padding: 20px;
      text-align: center;
    }

    .logo {
      max-width: 150px;
      margin-bottom: 10px;
    }

    .exam-name {
      font-size: 25px;
      margin-bottom: 15px;
      font-weight: bold;
      color: white;
    }

    .exam-instruction {
      text-align: left;
      padding: 15px;
      margin-bottom: 20px;
      border-radius: 7px;
      color:white!important;
      background-color: #101010;
    }

    .registration-label {
      font-size: 16px;
    }

    .registration-input {
      width: 80%;
      padding: 10px;
      margin: 10px 0;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
    }

    .btn-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      

    }

    .start-btn {
      width: 48%;
      padding: 10px;
      box-sizing: border-box;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      
    }
    .start-btn a {
   color: white;
   font-family: "SolaimanLipi", Arial, sans-serif!important;
    }

    .start-btn{
      background-color: rgb(7, 167, 7)
    }
    .start-practice-btn {
      background-color: #7221f3; /* Blue color */
      color: #fff;
    }


    .closed-section {
      font-size: 18px;
      margin-top: 20px;
      padding: 15px;
      border-radius: 7px;
      color: red;
      font-weight: bold;
      background-color: #101010;
    }

    .date-section {
      font-size: 16px;
      margin-top: 10px;
      box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
      border-radius: 7px;
      padding: 15px;
      font-weight: bold;
      color: rgb(73, 182, 255);
    }
    
.course-name{
  background-color: aliceblue;
  color: black;
  border-radius: 5px;
  padding: 10px;
}
.btn-center{
  text-align: center;
  margin: 0px auto;
  width: 48%;
      padding: 10px;
      box-sizing: border-box;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      background-color: rgb(7, 167, 7)
 ;

}
.btn-center a{
  color: white;
}

  </style>
</head>

  <body>
    <br><br>
    <% if (!examDetails || examDetails.active_status === 'closed') { %>
      <div class="container">
        <img src="/img/logo-02.png" alt="Logo" class="logo">
        <div class="exam-name"><%= examDetails.exam_name %></div>
        <div class="main-components">
          <div class="closed-section">The exam is closed</div>
        </div>
      </div>
    <% } else if (examDetails.is_anyone && examDetails.active_status === 'open') { %>
      <div class="container">
        <img src="/img/logo-02.png" alt="Logo" class="logo">
        <div class="exam-name"><%= examDetails.exam_name %></div>
        <div class="main-components">
          <div class="exam-instruction">
          <%- examDetails.instruction %>
          </div>
          <div class="btn-container">
            <% if (!examDetails || examDetails.practice) { %>
              <button class="start-btn start-practice-btn" ><a href="/practice/<%= examDetails.exam_code %>">Start Practice</a></button>
            <button class="start-btn"><a href="/exam/<%= examDetails.exam_code %>">Start Exam</a></button>
            <% }else{ %>
              <button class="btn-center"><a href="/exam/<%= examDetails.exam_code %>">Start Exam</a></button>
              <% } %>
          </div>
        </div>
      </div>
    <% } else if (isCoursePurchased && examDetails.active_status === 'open') { %>
      <div class="container">
        <img src="/img/logo-02.png" alt="Logo" class="logo">
        <div class="exam-name"><%= examDetails.exam_name %></div>
        <div class="main-components">
          <div class="exam-instruction">
            <%- examDetails.instruction %>
          </div>
          
          <div class="btn-container">
            <% if (!examDetails || examDetails.practice) { %>
              <button class="start-btn start-practice-btn" ><a href="/practice/<%= examDetails.exam_code %>">Start Practice</a></button>
            <button class="start-btn"><a href="/exam/<%= examDetails.exam_code %>">Start Exam</a></button>
            <% }else{ %>
              <button class="btn-center"><a href="/exam/<%= examDetails.exam_code %>">Start Exam</a></button>
              <% } %>
          </div>
        </div>
      </div>
    <% } else { %>
      <div class="container">
        <img src="/img/logo-02.png" alt="Logo" class="logo">
        <div class="exam-name"><%= examDetails.exam_name %></div>
        <div class="available-courses">
          <h3>This is Paid batch exam</h3>
          <% availableExams.forEach(function(course, index) { %>
            <div class="course-name">
                <a href="/course-details/<%= course.course_id %>">
                    <%= index + 1 %>. <%= course.course_name %>
                </a>
            </div>
        <% }) %>
        </div>
      </div>

    <% } %>
    <div class="loadbackground">
      <div class="load">
        <hr/><hr/><hr/><hr/>
      </div>
    </div>
    <style>
          .loadbackground {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgb(10 10 10);
          z-index: 9999455555555;
          display: none; /* add this line */
        }
        .load{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);
          /*change these sizes to fit into your project*/
          width:100px;
          height:100px;
        }
        .load hr{border:0;margin:0;width:40%;height:40%;position:absolute;border-radius:50%;animation:spin 2s ease infinite}
        
        .load :first-child{background:#19A68C;animation-delay:-1.5s}
        .load :nth-child(2){background:#F63D3A;animation-delay:-1s}
        .load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
        .load :last-child{background:#193B48}
        
        @keyframes spin{
          0%,100%{transform:translate(0)}
          25%{transform:translate(160%)}
          50%{transform:translate(160%, 160%)}
          75%{transform:translate(0, 160%)}
        }
    </style>
    
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    <script>
      $(document).ready(function(){
          $(".start-btn").click(function(){
              $(".loadbackground").fadeIn();
          });
      });
  
      
  </script>  


<script>
  // Wait for the DOM to be ready
  document.addEventListener('DOMContentLoaded', function () {
    // Get all <p> tags with data-f-id="pbf"
    const elementsToRemove = document.querySelectorAll('p[data-f-id="pbf"]');

    // Iterate through the selected elements and remove them
    elementsToRemove.forEach(element => {
      element.remove();
    });
  });
</script>
  </body>
  </html>
  