

<%- include('../partials/header.ejs') %>
<style>
.update-profile-button{
  color: white!important;
  background-color: rgb(70, 37, 255)!important;
  margin-top: 10px!important;
  width: 150px!important;
}
body{
  font-family: "SolaimanLipi", Arial, sans-serif!important;

}
</style>

<section class="top-nav">
  <div><h4>Profile</h4></div>
  <div id="top-nav-left">
    <svg stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" height="30" width="30" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"></path></svg>
   </div>

</section>




<div id="menulist" >
	<a href="/"><i class="fa-solid fa-house"></i> Home</a>
	<a href="https://www.facebook.com/missionschoolbd"><i class="fa-regular fa-address-card"></i> About</a>
	<a href="https://www.facebook.com/ashraful.ashik19"><i class="fa-regular fa-address-book"></i>Contact</a>
	<a href="/termandcondition"><i class="fa-solid fa-fan"></i> Terms & conditions</a>
	<a href="/privacy&policy"><i class="fa-solid fa-shield-halved"></i> Privacy and policy</a>
    <% if (req.user) { %>
        <a href="/auth/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a>
      <% } else { %>
        <a href="/auth/login"><i class="fa-solid fa-arrow-right-to-bracket"></i>Login</a>
      <% } %>
      
</div>
<br><br><br>


<section class="profile">
  <div class="imgcontainer">
    <form action="/auth/update-profilepic" method="post" id="profilePicForm" enctype="multipart/form-data">
      <div class="avatar-upload">
        <div class="avatar-preview">
          <div id="imagePreview" style="<% if (user.profile_pic) { %>background-image: url('/images/<%= user.profile_pic %>');<% } %>"></div>
          <input type="file" id="imageUpload" name="avatar" accept=".png, .jpg, .jpeg" />
          <label for="imageUpload"><i class="fa-solid fa-camera"></i></label>
        </div>
      </div>
    </form>
    <div class="response-message"></div>
  </div>
  
<div class="profile-form">
<form id="profile-form"	action="/auth/update-profile" method="post">
  <label for="fname">Name</label>
  <input type="text" id="fname" name="name" placeholder="Name"  <% if (user && user.name) { %> value="<%= user.name %>" <% } %> required>
  <label for="lname">College/Univeristy</label>
  <input type="text" id="lname" name="institution"  placeholder="College/University" <% if (user && user.institution) { %> value="<%= user.institution %>" <% } %> required>  
  <label for="lname">Phone Number</label>
  <input type="text" id="lname" name="phone" placeholder="Phone"  <% if (user && user.phone) { %> value="<%= user.phone %>" <% } %>>	
  <p>Invalid phone number</p>
  <input type="text">
  <div>verify phone</div>
  <label for="lname">Email Address</label>
  <input type="text" id="lname" name="email"  placeholder="Email" <% if (user && user.email) { %> value="<%= user.email %>" <% } %>> 
      <input type="submit" class="update-profile-button" value="Update">
</form>
</div>
</section>



<br><br><br><br>

 <script src="/js/script.js"></script>
 <!-- Jquery Cnd minified -->
 <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
 <script>
  $(document).ready(function () {
    // Trigger the file input field on clicking the avatar-preview div
    $('.avatar-preview').click(function () {
      $('#imageUpload').click();
    });

    // Show the image preview on selecting a file
    $('#imageUpload').change(function () {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
        $('#imagePreview').hide();
        $('#imagePreview').fadeIn(650);
        // Display a spinner while the photo is uploading
        $('.response-message').html('<i class="fa-solid fa-spinner fa-spin"></i> Photo is uploading...').css('color', 'orange');
        $('.response-message').show();

        // Trigger the upload
        uploadPhoto();
      };
      reader.readAsDataURL(this.files[0]);
    });

    // Function to handle the upload
    function uploadPhoto() {
      const fileInput = $('#imageUpload')[0];
      const formData = new FormData();
      formData.append('avatar', fileInput.files[0]);

      $.ajax({
        url: '/auth/update-profilepic',
        type: 'POST',
        data: formData,
        contentType: false,
        processData: false,
        success: function (response) {
          console.log(response);
          // Display "Photo updated successfully" message in green
          $('.response-message').html('Photo updated successfully').css('color', '#52f352');
        },
        error: function (error) {
          // Handle error response
          $('.response-message').html('Error uploading photo').css('color', 'red');
        },
        complete: function () {
          // Hide the message after a delay (you can adjust the delay as needed)
          setTimeout(function () {
            $('.response-message').hide();
          }, 5000);
        }
      });
    }
  });


  $(document).ready(function() {
      // Toggle menu when top-nav-left is clicked
      $("#top-nav-left").click(function() {
        $("#menulist").toggle();
      });
    
      // Hide menu when user clicks anywhere on the body
      $("body").click(function(event) {
        if(!$(event.target).closest("#top-nav-left, #menulist").length) {
          $("#menulist").hide();
        }
      });
    });
    

    window.addEventListener('DOMContentLoaded', (event) => {
            const phoneInput = document.getElementsByName('phone')[0];
            const emailInput = document.getElementsByName('email')[0]; 

            if (phoneInput.value.trim() !== '') {
                phoneInput.setAttribute('disabled', 'disabled');
            }

            if (emailInput.value.trim() !== '') {
                emailInput.setAttribute('disabled', 'disabled');
            }

            if (phoneInput.value.trim() !== '' && emailInput.value.trim() !== '') {
                phoneInput.setAttribute('disabled', 'disabled');
                emailInput.setAttribute('disabled', 'disabled');
            }
        });
</script>