<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Mission School is ready to fill your Mission by providing you support">
    <meta property="og:title" content="Mission School">
    <meta property="og:description" content="Mission School is ready to fill your Mission by providing you support">
    <meta property="og:image" content="/img/preview-website.png"> <!-- URL to your specific preview image -->
    <meta property="og:url" content="https://www.missionschool.xyz"> <!-- URL of your website -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Mission School">
    <title>Mission School</title>
    <link href="https://fonts.cdnfonts.com/css/noto-serif-bengali" rel="stylesheet">
         
    
     <!-- Libraries Stylesheet -->
     <link href="/lib/animate/animate.min.css" rel="stylesheet">
     <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
     <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
 
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="icon" type="image/png" href="/img/favicon_favicon.png">

    <!-- fontawesome link kora hoies kintu janina minified kina -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
  </head>
  <body>

    
    <!-- Start of Tawk.to Script -->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  
  // Customize Tawk.to widget position
  Tawk_API.customStyle = {
    visibility: {
      desktop: {
        xOffset: 20, // 20 pixels from the right (negative value to move right)
        yOffset: 80, // 70 pixels from the bottom (negative value to move up)
        position: 'br' // Bottom right position
      },
      mobile: {
        xOffset: 20, // 20 pixels from the right (negative value to move right)
        yOffset: 80, // 70 pixels from the bottom (negative value to move up)
        position: 'br' // Bottom right position
      },
      bubble: {
        xOffset: 0,
        yOffset: 0,
        rotate: 0
      }
    }
  };

  (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/6438d6f24247f20fefeb8bae/1gtv0f90p';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
  })();
</script>
<style>@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}




.card {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
}


.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}


</style>

<style>
/* Customizing chat font */
#tawkchat-widget .tawk-chat-widget .tawk-chat__body .tawk-chat__message {
    font-family: "Your Font", sans-serif; /* Change "Your Font" to the desired font family */
    font-size: 14px; /* Change the font size as needed */
    font-weight: normal; /* Change the font weight if desired */
    color: #333; /* Change the font color */
}

/* Customizing agent's name font */
#tawkchat-widget .tawk-chat-widget .tawk-chat__body .tawk-chat__message .tawk-chat__name {
    font-family: "Your Font", sans-serif; /* Change "Your Font" to the desired font family */
    font-size: 14px; /* Change the font size as needed */
    font-weight: bold; /* Change the font weight if desired */
    color: #666; /* Change the font color */
}

/* Customizing visitor's name font */
#tawkchat-widget .tawk-chat-widget .tawk-chat__body .tawk-chat__message .tawk-chat__user-name {
    font-family: "Your Font", sans-serif; /* Change "Your Font" to the desired font family */
    font-size: 14px; /* Change the font size as needed */
    font-weight: bold; /* Change the font weight if desired */
    color: #666; /* Change the font color */
}


html,
body {
  
  background: rgb(10 10 10) !important;
  height: auto;
  font-family: sans-serif!important;
}
a, a:hover, a:active, a:link, a:visited {
  text-decoration: none !important;
  color: black;
 
} 
.con {
  border: 1px solid rgb(16 15 22);
  position: relative;
  bottom: 1px;
  height: auto;
}
.tab-con1 {
  height: auto;
  background: #000919 !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
 border-radius: 10px;
  padding: 7px;
  width: 95%;
  margin: 0px auto;
}
.tab i{
color: rgb(36, 36, 36) !important;
}
.tab span{
  color: rgb(84, 84, 84)!important;
}
@media screen and (min-width: 1200px) {

  nav.bottom-nav {
    width: 40%!important;
    margin: 0 auto;
    position: fixed;
    bottom: 10px!important;
    border-radius: 10px;
    left: 30%;
    
  }
  .navbar-dark .navbar-nav .nav-link,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
    }
 

}
.hero-header {
  background: linear-gradient(rgba(10, 10, 10, 1.3), rgba(10, 10, 10, .6)),url('/img/front_banner.jpg')!important;
  background-position: center center!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
}
.hero-header img {
  animation: imgRotate 50s linear infinite;
}
.display-3{
  font-size: calc(1.225rem + 1.3vw);
}
@keyframes imgRotate { 
  100% { 
      transform: rotate(360deg); 
  } 
}
.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, .5);
}
footer {
  background-color: #000000;
line-height:35px;
 color:white;
 font-family: sans-serif;
 font-size: 14px;
}
.footer-container {
  display: flex;
  flex-direction: column;
padding:20px;
}
.contact-section{
 margin-bottom:20px;
}
.logo-section img {
  height: 50px;
  margin-bottom: 10px;
}
.social-links a {
  color: #fff;
  margin-right: 10px;
}
.footer-container  a {
   color:white!important;

}
.links-section {
  display: flex;
  justify-content: space-between;
 justify-content:center;
 margin-bottom:20px;
 
}
.company,
.legal {
  flex: 1;
 gap:5px;
}
ul{
  margin: 0px!important;
padding: 0px!important;
}
.company ul,
.legal ul {
  list-style: none;
 
}
.store-links{
 display:flex;
 justify-content:center;
 gap:15px;
 margin-top:20px;
}
.copyright{
 text-align:center;
 font-size: 12px;
}
  div.accordion { 
    width: 100%;
    background: #0F172B !important;
    outline: none;text-align: left;
    padding: 15px 10px;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.2s linear;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 12px;
  }
.accordion-content {
max-height: 0;
overflow: hidden;
position:relative;
 top:-5px;
transition: max-height 0.3s ease-in-out;
background-color: #0F172B !important;
display: flex;
flex-direction: column;
 border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.accordion-content a{
  border: 1px solid #4f3d993d;
  border-radius: 8px;
  width: 100%;
  padding: 7px 10px;
  width:95%;
  margin: 0px auto 5px;
  font-size: 13px;
  color: #b1afaf;
  
}


.accordion-content a:hover{
  background: #181f3f  !important;
  cursor: pointer;
}
.accordion-content a:last-child{
margin-bottom:20px;
}
.accordion-content a:first-child{
margin-top:20px;
}
.tabcontent{
margin: 8px;

}
nav.bottom-nav{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  border-top: 1px solid rgb(10, 10, 10 / 20%);
  border-top-left-radius : 12px;
border-top-right-radius : 12px;
background-color:rgb(24 24 24 / 50%) !important;
  z-index: 34;
  backdrop-filter: blur(8px); /* add a blur effect */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px !important;

}
.nav-item{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 14px 10px 8px 10px;
  width: 100%;
  color: white!important;

}
.nav-Item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px 10px 8px 10px;
  width: 100%;

}
.nav-Item i{
  font-size: 20px;
color: rgb(255, 255, 255);
margin-bottom:5px;
}
.nav-Item span{
  font-size: 12px;
color: rgb(255, 255, 255);
}
/* ripple effect */
.ripple {
background-position: center;
transition: background 0.8s;
}

.ripple:hover{
background-color: rgb(24, 24, 24);
background-image: radial-gradient(circle,transparent 1%,rgb(22, 22, 22) 1%);
background-position: center;
outline: none;
border-radius: 50px;
background-size: 15000%;
}

.ripple:active{
transition: background 0s;
background-color: rgb(10 10 10);    
background-size: 100%;
}

.accordion img{
  width: 22px;
  margin-right: 10px;
}
  .accordion img{
  width: 22px;
  margin-right: 10px;
}
/* headTile section */
.head-title-caption {
  margin: 0px auto;
  text-align: center;
  padding: 0px;
  font-size: 18px;
  color: rgb(27, 151, 91);
  font-weight: bold;
}
.head-title {
  margin: 0 auto;
}
span.mid-align {
text-align: center !important;
color: rgb(255 255 255 / 77%);
font-weight: bolder;
font-size: 20px;
font-family: "SolaimanLipi", Arial, sans-serif!important;
 
}

.day_body {
padding: 5px 10px;
text-align: center;
border-radius: 5px;
background:#031021;
 
}

/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    position: relative;
    padding: 35px 0;
    font-size: 15px;
    color: white !important;
    text-transform: uppercase;
    font-weight: 500;
    outline: none;
    transition: .5s;
    
}


.navbar-dark{
  background-color: none;
}
.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 20px 0;
   
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: rgb(255, 162, 0) !important;
}

.navbar-dark .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-brand img {
    max-height: 45px;
}
.navbar{
  background-color:rgb(14 14 14) ;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color:rgb(24 24 24 / 50%) !important;
  backdrop-filter: blur(8px);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px !important;
  z-index: 4;
  box-shadow: rgb(33 35 38 / 10%) 0px 10px 10px -10px;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgb(255 255 255 / 50%);
    z-index: 34;
    backdrop-filter: blur(8px);
  
}


@media (max-width: 991.98px) {
    .sticky-top.navbar-dark {
   
    }
    

    
    .navbar-dark .navbar-nav .nav-link,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        
    }

    .navbar-dark .navbar-brand img {
        max-height: 53px;
    }
}

@media (min-width: 600px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        background: transparent !important;
    }
    nav.bottom-nav {
    width: 40%!important;
    margin: 0 auto;
    position: fixed;
    bottom: 10px!important;
    border-radius: 10px;
    left: 30%;
    
  }
 
    .sticky-top.navbar-dark {
        position: fixed;
        background-color:rgb(24 24 24 / 50%) !important;
        backdrop-filter: blur(8px); /* add a blur effect */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px !important;
    }
   .navbar-nav a i{
    display: none!important;
   }
   .navbar-dark .navbar-nav .nav-link,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 25px!important;
    }

}

/********** Template CSS **********/
:root {
    --primary: #050425;
    --light: #F1F8FF;
    --dark: #0F172B;
}

/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}

/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: #151516 !important;
    border-color: #4d4d4d !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: var(--light) !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: #fdfdfd;
    border-color: var(--light);
}

.course-list {
  
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 0px auto;
  width: 90%;
  
}


.box {
  flex-grow: 1;
  margin-top: 20px!important;
  padding: 10px!important;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #141414;
  border-radius: 10px;
}

.img-round{
  border-radius: 50%;
  width: 200px;
}
.box img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 width:100%;
}

.course-name {
  text-align: left!important;
  margin: 10px 0;
 font-size:20px;
 color:white!important;

}

.course-left-right{
 display:flex;
 justify-content: space-around;
 align-items:center;
 font-size:14px;
 width:100%;
 color:white!important;

}
.left span:first-child { 
 margin-right:3px;
 background-color: #4b455369;
 padding: 5px 10px;
 border-radius:5px;

}
.left span:nth-child(2) { 
 margin-right:10px;
 background-color: #473f328c;
  padding: 5px 10px;
 border-radius:5px;

}

.right {
  margin-left: auto;
  padding: 5px 10px;
 border-radius:5px;
 background-color: #1b2a2f;

 
 
}


.start-now{
  margin-left: auto;
 background-color: #2e003e;
 color: #ffffffd1; 
  padding: 5px 10px;
 border-radius:5px;
}


@media (min-width: 700px) {
  .box {
  width: calc(32.33%)!important; 
 
}  

nav.bottom-nav {
    width: 40%!important;
    margin: 0 auto;
    position: fixed;
    bottom: 10px!important;
    border-radius: 10px;
    left: 30%;
    
  }
 
  }

</style>
        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
          <nav class="navbar navbar-expand-lg navbar-dark bg-nav px-4 ">
              <a href="/" class="navbar-brand p-0">
                  <img loading="lazy" src="/img/logo-02.png" alt="Logo">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                
                  <svg class="" stroke="currentColor" fill="none" stroke-width="0" viewBox="0 0 24 24" height="30" width="30" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"></path></svg>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse" style="font-family: Noto Serif Bengali;">
                  <div class="navbar-nav ms-auto py-0 pe-4">
                    <a href="/" class="nav-item nav-link"><i class="fa-solid fa-house"></i> হোম</a>
                    <a href="https://www.facebook.com/missionschoolbd" class="nav-item nav-link"><i class="fa-regular fa-address-card"></i> সম্পর্ক</a>
                    <a href="https://www.facebook.com/ashraful.ashik19" class="nav-item nav-link"><i class="fa-regular fa-address-book"></i>তথ্য</a>
                      <% if (req.user) { %>
                          <a href="/auth/logout" class="nav-item nav-link"><i class="fa-solid fa-arrow-right-from-bracket"></i>লগআউট</a>
                        <% } else { %>
                          <a href="/auth/login" class="nav-item nav-link"><i class="fa-solid fa-arrow-right-to-bracket"></i>লগইন</a>
                        <% } %>
                        
                  </div>
              </div>
              </nav>



          <div class="container-xxl py-5 bg-dark hero-header mb-4">
              <div class="container my-5 py-5">
                  <div class="row align-items-center g-5">
                      <div class="col-lg-8 text-center text-lg-start">
                          <h2 class="display-3 text-white animated slideInLeft"  style="font-family: Noto Serif Bengali;">মিশন সফল করেই দম ছাড়বো!</h2>
                          <p class="text-white animated slideInLeft mb-4 pb-2" style="font-family: Noto Serif Bengali;">স্বপ্নের জয় তোমারই হবে, আজকে থেকে স্বপ্নের পথে নতুন যাত্রা মিশন স্কুলের সাথে।</p>
                          <a href="/course-details/1" class="animated slideInLeft" style="padding: 10px 30px 10px 30px ; font-weight: bold; border: none; background-color: rgb(255, 255, 255); color:rgb(0, 0, 0); border-radius: 10px;border:1px solid red;" >JOIN NOW</a>
                      </div>
                      <div class="col-lg-4 text-center text-lg-end overflow-hidden">
                          <img class="img-fluid" loading="lazy"  src="/img/logo-04.png">
                  </div>
              </div>
          </div>
      </div>
      <!-- Navbar & Hero End -->



      <section style="position: relative; bottom: 100px;" class="course-list">
  <% course.forEach(function(course) { %>
    <div class="box container-xxl py-5 text-light wow fadeInUp" data-wow-delay="0.1s">
      <% if (!course.is_update) { %>
        <a href="/course-details/<%= course.course_id %>" class="">
      <% } %>

      <img src="<%= course.thumbnail %>" alt="">
      <div class="course-name"><h6><%= course.course_name %></h6></div>

     
      <div class="course-left-right">
        <% if (course.is_update) { %>
          <p style="background-color: #2e003e; padding: 10px;">The course is in updating!</p>
        <% } else { %>
          <div class="left">
            <span><i class="fa-solid fa-video"></i>&nbsp;&nbsp;<%= course.course_class %></span>
            <span><i class="fa-solid fa-file-circle-check"></i>&nbsp;&nbsp;<%= course.course_exam %></span>
          </div>
        <% } %>

        <div class="right">
          <span>৳&nbsp;<span class="bangla-fee" style="font-family: SolaimanLipi;"><%= course.course_fee %></span></span>
        </div>
      </div>

      <% if (!course.is_update) { %>
        </a>
      <% } %>
    </div>
  <% }) %>
</section>





 <!-- About Start -->
 <div class="container-xxl">
  <div class="container">
      <div class="row g-5 align-items-center">
          <div class="col-lg-6">
          
            <div class="wow fadeInUp" data-wow-delay="0.5s">
              <div class="team-item text-center rounded overflow-hidden">
                  <div class="rounded-circle overflow-hidden m-4">
                      <img class="img-round" src="img/founder.jpg" alt="">
                  </div>
                  <h5 class="mb-0">Md Ashraful Islam</h5>
                  <small>Bangladesh Univeristy of Professionals</small><br>
                  <small>Founder & CEO</small>
              </div>
          </div>


          </div>
          <div class="col-lg-6 text-white">
              <h3 class="mb-4">MISSION SCHOOL</h3>
              <p class="mb-4" style="font-family: Noto Serif Bengali;">
                  স্বপ্ন পূরণের যাত্রায় কাজ করে যাচ্ছে আমাদের মিশন স্কুল, এখানে রয়েছে দক্ষ শিক্ষক যারা তোমাদের লক্ষ্য পূরণের জন্য প্রতিজ্ঞাবদ্ধ। মিশন স্কুলে জয়েন করে তুমিও তোমার কাঙ্ক্ষিত লক্ষ্যে পৌঁছানোর মিশনে উদ্যমী হয়ে উঠো।</p>
              <p class="mb-4" style="font-family: Noto Serif Bengali;">এখনই সময় নিজেকে নিয়ে ভাবার, নিজেকে গড়ে তোলার, তোমাদের জন্য শুভকামনা রইলো</p>
              <div class="row g-4 mb-4">
                <div class="col-sm-6">
                  <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                      <h3 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">200</h3><h3>+</h3>
                      <div class="ps-4">
                          <p class="mb-0">Success</p>
                          <h6 class="text-uppercase mb-0">Students</h6>
                      </div>
                  </div>
              </div>  
                <div class="col-sm-6">
                      <div class="d-flex align-items-center border-start border-5 border-primary px-3 big-screen">
                          <h3 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">5</h3><h3> + </h3>
                          <div class="ps-4">
                              <p class="mb-0">Years of</p>
                              <h6 class="text-uppercase mb-0">Experience</h6>
                          </div>
                      </div>
                  </div>
                  
              </div>
              <a href="/course-details/1"  style="padding: 10px 30px; font-weight: bold; border: none; background-color: rgb(255, 255, 255); color:rgb(0, 0, 0); border-radius: 7px;border:1px solid red;">JOIN NOW</a>
          </div>
      </div>
  </div>
</div>
<!-- About End --> 
        <!-- Testimonial Start -->
        <div class="container-xxl py-5 text-light wow fadeInUp" data-wow-delay="0.1s">
          <div class="container">
              <div class="text-center">
                  <h1 class="mb-5">Students!!!</h1>
              </div>
              <div class="owl-carousel testimonial-carousel">
                  <div class="testimonial-item bg-transparent border rounded p-4" style="font-family: Noto Serif Bengali;">
                      <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                      <p>আমার কাছে খুব ভালো লেগেছে। প্রাকটিস করে নিজেকে যাচাই করে নিতে পারছি এবং সব কিছু সুন্দর করে সাজিয়ে দেয়া আছে। </p>
                      <div class="d-flex align-items-center">
                          <img class="img-fluid flex-shrink-0 rounded-circle" src="/img/student-4.png" style="width: 50px; height: 50px;">
                          <div class="ps-3">
                              <h5 class="mb-1">Arfan Khan</h5>
                              <small>NDC</small>
                          </div>
                      </div>
                  </div>
                  <div class="testimonial-item bg-transparent border rounded p-4" style="font-family: Noto Serif Bengali;">
                      <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                      <p >মেন্টরদের সাথে নিজের সমস্যা গুলা শেয়ার করে তা কাটিয়ে উঠার সাহস পাচ্ছি। অনেক কিছু নতুন ভাবে ভাবতে এবং শিখতে শুরু করেছি। </p>
                      <div class="d-flex align-items-center">
                          <img class="img-fluid flex-shrink-0 rounded-circle" src="/img/student-3.png" style="width: 50px; height: 50px;">
                          <div class="ps-3">
                              <h5 class="mb-1">Kazi Nayeem</h5>
                              <small>Adamjee(ACC)</small>
                          </div>
                      </div>
                  </div>
                  <div class="testimonial-item bg-transparent border rounded p-4" style="font-family: Noto Serif Bengali;">
                      <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                      <p>ঢাকার বাইরে থাকায় সঠিক গাইডলাইন কোনোভাবেই পাচ্ছিলাম না এই কোর্সটিতে সাজানো কনটেন্ট গুলা আমাকে প্রস্তুতি নিতে অনেক সহযোগিতা করছে। </p>
                      <div class="d-flex align-items-center">
                          <img class="img-fluid flex-shrink-0 rounded-circle" src="/img/student-1.png" style="width: 50px; height: 50px;">
                          <div class="ps-3">
                              <h5 class="mb-1">Mozahidul Islam</h5>
                              <small>DRMC</small>
                          </div>
                      </div>
                  </div>

                  <div class="testimonial-item bg-transparent border rounded p-4" style="font-family: Noto Serif Bengali;">
                      <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                      <p>অনেক বেশি ইউজার ফ্রেন্ডলি মনে হইছে আমার কাছে। আমি এখানে নিজেকে এক্সাম দিয়ে তার সমাধান দেখে নিজের অবস্থান জানতে পারছি।</p>
                      <div class="d-flex align-items-center">
                          <img class="img-fluid flex-shrink-0 rounded-circle" src="/img/student-2.png" style="width: 50px; height: 50px;">
                          <div class="ps-3">
                              <h5 class="mb-1">Saklain</h5>
                              <small>BUP</small>
                          </div>
                      </div>
                  </div>  
              </div>
          </div>
      </div>
      <!-- Testimonial End -->

    </div>

            <div class="wow fadeInUp" data-wow-delay="0.1s" style="margin: 0px auto ;" >
              <h2 style="color:rgb(255, 255, 255); margin: 0px auto ; text-align: center;" >Payment partners</h2>
                <style>
.center-align{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 15px;
    flex-wrap: wrap;
}

                </style>
                <div class="center-align">
                  <img src="/img/payment_bkash.png" alt="" style="height: 40px;">
                  <img src="/img/payment_nagad.png" alt="" style="height: 40px;"> 
                  <img src="/img/payment_City bank.png" alt="" style="height: 40px;">
                  <img src="/img/payment_upay.png" alt="" style="height: 40px;">    
                  <img src="/img/payment_dbbl.png" alt="" style="height: 40px;">    
                  <img src="/img/payment_Islami bank.png" alt="" style="height: 40px;">          
                                     
                             
                </div>
            </div>


<br><br><br><br>

 <!-- bottom nagivatoin section  -->

 <%- include('../partials/bottom-nav.ejs') %>

<br>


<footer>
  <div class="footer-container">
    <div class="logo-section">
      <img src="/img/logo-02.png" alt="mission school" height="50px">
      <br>
      <div class="social-links">
        <a href="https://www.facebook.com/missionschoolbd"><i class="fab fa-facebook"></i></a>
        <a href="https://www.facebook.com/missionschoolbd"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/missionschoolbd"><i class="fab fa-telegram"></i></a>
        <a href="https://www.youtube.com/@codewriter6742"> <i class="fab fa-youtube"></i></a>
      </div>
    </div>

    <div class="contact-section">
      <div class="contact-info">
        <div class="contact-item">
          <i class="fas fa-phone"></i>
          <span>01839886977</span>
        </div>
        <div class="contact-item">
          <i class="far fa-envelope"></i> 
          <span>missionacademy2021@gmail.com</span>
        </div>
        <div class="contact-item">
          <i class="fas fa-map-marker-alt"></i> 
          <span>Mirpur 12, Dhaka</span>
        </div>
      </div>
    </div>

    <div class="links-section">
      <div class="company">
        <h5>Company</h5>
        <ul>
          <li><a href="https://www.facebook.com/mission.academy23about-us">About</a></li>
          <li><a href="">Affiliates</a></li>
          <li><a href="">Jobs</a></li>
          <li><a href="">FAQ</a></li>
        </ul>
      </div>
      <div class="legal">
        <h5>Legal</h5>
        <ul>
          <li><a href="/terms&conditions">Terms & Conditions</a></li>
          <li><a href="/privacy&policy">Privacy Policy</a></li>
          <li><a href="/terms&conditions">Refund Policy</a></li>
        </ul>
        <div class="legal-info">
          <span>E-TIN: 510000542309</span>
        </div>
      </div>
    </div>
<hr>
    <div class="store-section">
      <div class="store-links">
        <a href="">
          <img alt="Get it on Google Play" style="border: 1px solid rgb(130, 130, 133); border-radius: 5px;" src="/img/icon_playstore.png"  height="40px">
        </a>
        <a href="">
          <img src="/img/icon_apple_store.png" style="border: 1px solid rgb(130, 130, 133); border-radius: 5px;" alt="Download on the app store" height="40px">
        </a>
      </div>
    </div>
    <p class="copyright">© 2024 Made by Md Ashraful Islam. All rights reserved.</p>

  </div>
  <br>
<br>

</footer>


<script>
  


var accordions = document.getElementsByClassName("accordion");

for (var i = 0; i < accordions.length; i++) {
  accordions[i].onclick = function() {
    this.classList.toggle('is-open');

    var content = this.nextElementSibling;
    if (content.style.maxHeight) {
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
    content.style.transition = "max-height 0.2s ease-out";
  }
}


// Function to check if an element is in viewport
function isInViewport(element) {
  const rect = element.getBoundingClientRect();
  return (
    rect.top <= window.innerHeight &&
    rect.bottom >= 0 &&
    rect.left <= window.innerWidth &&
    rect.right >= 0
  );
}

// Function to handle scroll event
function handleScroll() {
  const elements = document.querySelectorAll('.fade-in-up');
  elements.forEach(function(element) {
    if (isInViewport(element) && !element.classList.contains('show')) {
      element.classList.add('show');
    }
  });
}

// Add scroll event listener
window.addEventListener('scroll', handleScroll);

// Trigger the initial check when the page loads
document.addEventListener('DOMContentLoaded', handleScroll);
    </script>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

<script src="/lib/wow/wow.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/counterup/counterup.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/tempusdominus/js/moment.min.js"></script>
<script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="/js/main.js"></script>
